<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=1"  />
    <meta name="format-detection" content="telphone=no, email=no" />
    <link href="/css/search.css" rel="stylesheet" type="text/css"/>
    <title>Index</title>
</head>
<body>
<div id="wrapper">
    <h1>SEARCH</h1>
    <h2>From data, Beyond data</h2>
    <div class="search_box">
        <div class="search_box_left">
            <input type="text" class="inputValue"  id="searchValue" onkeydown="enterSearch()" required/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Keywords</label>
        </div>
        <div class="search_box_right">
            <input type="button" class="searchButton" onclick="search()" value="SEARCH"/>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script>
    const search=()=>{
        let keywords=document.getElementById('searchValue').value;
        keywords=keywords.replace(/ /g,"%20");
        window.location = `/rs?wd=${keywords}`;
    };
    const enterSearch=()=>{
        if(event.keyCode==13){
            search();
        }
    };
</script>
</html>